<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
    {% if projet is not defined or projet is null %}
        Aucun projet selectionné
    {% else %}
        <div>
            <h2>{{ projet.titre }}</h2>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset('Assets/luxe.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ projet.titre }}</h5>
                    <p class="card-text">{{ projet.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ projet.debut|date('Y-m-d') }}</li>
                    <li class="list-group-item">{{ projet.dateFin|date('Y-m-d') }}</li>

                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>


            <h2>Liste des artisans </h2>

            {% for Partenaire in Partenaires %}

                <li>{{ Partenaire.entreprise }}.{{ Partenaire.nomContact }}</li>

            {% endfor %}

        </div>
    {% endif %}
</div>